* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.centered {
    margin: 0 auto;
}

.heroimg {
    background-image: url("./images/capoeira.webp");
}